<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button *ngIf="plt.is('desktop'); else phone"></ion-menu-button>
            <ng-template #phone>
                <ion-back-button defaultHref="/rooms"></ion-back-button>
            </ng-template>
        </ion-buttons>
        <ion-title>{{room.name}}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content style="height: 100%">
    <app-room-video [hidden]="currentRoomState !== roomStates.Room"></app-room-video>
    <app-room-video-list [hidden]="currentRoomState !== roomStates.Videos"></app-room-video-list>
    <app-room-users [hidden]="currentRoomState !== roomStates.Users"></app-room-users>
</ion-content>

<ion-tab-bar slot="bottom">
    <ion-tab-button tab="room" (click)="activateRoom()">
        <ion-icon name="cube-outline"></ion-icon>
        <ion-label>Room</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="videos" (click)="activateVideos()">
        <ion-icon name="play-outline"></ion-icon>
        <ion-label>Videos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users" (click)="activateUsers()">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Users</ion-label>
    </ion-tab-button>
</ion-tab-bar>
