<ion-toolbar>
  <ion-buttons slot="secondary" *ngIf="!canShowLogoutButton">
    <ion-button [routerLink]="['/login']">
      Login
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary" *ngIf="canShowLogoutButton" >
    <ion-button color="danger" [routerLink]="['/login']" (click)="logout()">
      Logout
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary" *ngIf="canShowLogoutButton" >
    <ion-button [routerLink]="['/rooms']">
      Rooms
    </ion-button>
  </ion-buttons>
  <ion-title>Home</ion-title>
</ion-toolbar>

<ion-content>
  <ion-grid fixed>
    <ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
