<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div>
        Rooms
      </div>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="danger" [routerLink]="['/login']">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid style="height: 100%">
    <ion-row style="height: 100%">
      <ion-col style="height: 100%">
        <ion-content>
          <ion-searchbar inputmode="search" [(ngModel)]="searchOutput" (ionChange)="filterRooms()"></ion-searchbar>
          <ion-list>
            <ion-card class="list-card" *ngFor="let i of filteredRooms" (click)="onCardClick(i)">
              <ion-card-header>
                <ion-card-title>{{ i.name }}</ion-card-title>
                <ion-chip *ngFor="let category of i.categories">
                  <ion-label (click)="$event.stopPropagation();addChipToSearchBar($event, category) ">{{ category }}</ion-label>
                </ion-chip>
              </ion-card-header>
              <ion-item>
                <ion-icon name="lock-open-outline" slot="end" *ngIf="!i.password"></ion-icon>
                <ion-icon name="lock-closed-outline" slot="end" *ngIf="i.password"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-list>
          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-content>
      </ion-col>
      <!-- fab placed to the (vertical) center and end -->
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addRoomButtonClicked($event)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
