<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div>
        Rooms
      </div>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="danger" [routerLink]="['/login']">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu></app-menu>
  <ion-grid style="height: 100%">
    <ion-row style="height: 100%">
      <ion-col style="height: 100%">
        <ion-content>
          <ion-virtual-scroll [items]="items" approxItemHeight="320px">
            <ion-card class="list-card" *virtualItem="let item; let itemBounds = bounds;" (click)="onCardClick(item)">
              <ion-card-header>
                <ion-card-title>{{ item.room.name }}</ion-card-title>
              </ion-card-header>
              <ion-card-content> {{ item.room.password !== "" ? "Has password" : "No Password" }} </ion-card-content>
            </ion-card>
          </ion-virtual-scroll>
        </ion-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>